li{
    list-style-type: none;
    padding: 1em;
}

.rectangulo{
    width: 30%;
    height: 20px;
}
select{
    width: 30.7%;
    height: 25px;
}
button{
    margin-left: 4em;
    width: 7em;
    height: 2.5em;
}
