<form>
    <ul>
        <li>
            <span>Nombres</span><br>
            <input type="text" id="nombres" required class="rectangulo">
        </li>

        <li>
            <span>Apellidos</span><br>
            <input type="text" id="apellidos" required class="rectangulo">
        </li>

        <li>
            <span>Género</span><br>
            <input type="radio" name="genero" id="fGender" required>
            <label for="mGender">Mujer</label><br><br>
            <input type="radio" name="genero" id="mGender">
            <label for="mGender">Hombre</label><br><br>
            <input type="radio" name="genero" id="oGender">
            <label for="oGender">Otro</label><br>
        </li>

        <li>
            <span>País</span><br>
            <select name="paises" id="paises" required>
                <option value="">Seleccione un país</option>
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brasil">Brasil</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cuba">Cuba</option>
                <option value="Ecuador">Ecuador</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Honduras">Honduras</option>
                <option value="México">México</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Panamá">Panamá</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Perú">Perú</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="República Dominicana">República Dominicana</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Venezuela">Venezuela</option>
            </select>
        </li>
        <li>
            <span>Ciudad</span><br>
            <input type="text" required class="rectangulo">
        </li>
        <li>
            <button type="reset">Cancelar</button>
            <button type="submit">Crear</button>
        </li>
    </ul>
</form>