<table>
    <tr>
        <th>Nombre Completo</th>
        <th>Género</th>
        <th>Pais</th>
        <th>Ciudad</th>
    </tr>
    <tr>
        <td>Pepita Cruz</td>
        <td>Mujer</td>
        <td>Chile</td>
        <td>Valparaiso</td>
    </tr>
    <tr>
        <td>Juan Totto</td>
        <td>Hombre</td>
        <td>Chile</td>
        <td>Metropolitana</td>
    </tr>
    <tr>
        <td>Pedro Tijuana</td>
        <td>Hombre</td>
        <td>Chile</td>
        <td>Metropolitana</td>
    </tr>
    <tr>
        <td>Juana de Arco</td>
        <td>Mujer</td>
        <td>Chile</td>
        <td>Valparaiso</td>
    </tr>
</table>
