<div id="bloques">
    <div class="cliente">
        <div class="imagen">
            <img src="../../assets/img/imagen1.png">
        </div>
        <div class="infoCliente">
            Pepita Cruz<br>Chile,Valparaiso
        </div>
    </div>
    <div class="cliente">
        <div class="imagen">
            <img src="../../assets/img/imagen2.png">
        </div>
        <div class="infoCliente">
            Juan Totto<br>Chile,Metropolitana
        </div>
    </div>
    <div class="cliente">
        <div class="imagen">
            <img src="../../assets/img/imagen3.png">
        </div>
        <div class="infoCliente">
            Pedro Tijuana<br>Chile,Metropolitana
        </div>
    </div>
    <div class="cliente">
        <div class="imagen">
            <img src="../../assets/img/imagen1.png">
        </div>
        <div class="infoCliente">
            Juana de Arco<br>Chile,Valpariso
        </div>
    </div>
</div>
